@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.lights{

  @apply font-bold
}

.paragraphs{

  @apply text-[17px] font-medium text-[#5f5f5f]
}

.card{

  @apply rounded-[2.5rem] pb-5 py-3 px-[32px] md:px-[24px]
}

.card2{

  @apply 
}
